.sidebar, .admin-sidebar {

    width: 70%;
    background-color: #2a2a2a;

    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    h2 {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 1em;
    }

}
.admin-sidebar{
    border-right: 1px solid #e6d6b2;
}


.form-btn{
    width: 100%;
}

.upload {
    background-color: rgb(4, 83, 3);
}
.upload:hover {
    background-color: rgb(10, 141, 8);
}

.reset {
    background-color: rgb(94, 8, 8);
    
}
.reset:hover {
    background-color: rgb(158, 16, 16);
}



@media screen and (max-width: 768px) {
    .sidebar, .admin-sidebar  {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-right: none;
    }

    .sidebar,
    .admin-sidebar  h2 {
        width: 100%;
        font-size: 1.4em;
        margin-bottom: 0.5em;
    }

    .form-btn, .form-btn-reset, .form-btn-upload {
        margin: 0.5em;
    }
}
