.footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: #e6d6b2;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
ul {
  list-style-type: none;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}
.navlink-footer,
.email-footer {
  color: #e6d6b2;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #8993d1;
    cursor: pointer;
    transform: translateX(5px);
  }
  li {
    list-style: none;
  }
}

.footer-socials {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 1.5em;
  }

  .footer-bottom {
    text-align: center;
    padding: 1em;
  }
}
@media (max-width: 320px) {
  .footer-section-times {
    display: none;
  }
  .footer-content {
    font-size: large;
  }
  .navlink-footer {
    font-size: medium;
  }
}
