@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

.nav {
  width: 100%;
  padding: 1em 1.5em;
  background-color: rgba(42, 40, 40, 0.7);
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    li .navlink {
      color: #efe7d2;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: #d9bf77;
        color: #2a2a2a;
      }
    }
  }
}

.logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  color: #e6d6b2;
  border: 2px solid #e6d6b2;
  padding: 0.2rem 1.2rem;
  letter-spacing: 0.15rem;
  background-color: transparent;
  text-decoration: none;
}

.logo:hover {
  background-color: #d9bf77;
  color: #2a2828;
}

.nav-right,
.nav-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  li .btn-dark {
    background-color: transparent;
    border: 2px solid #efe7d2;
    border-radius: 8px;
    padding: 1em 1.5em;
    color: #efe7d2;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #d9bf77;
      color: rgba(42, 40, 40, 0.551);
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-content {
  position: absolute;
  top: 5.6em;
  background-color: rgba(42, 40, 40, 0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0);
  z-index: 1;
  a {
    color: black;
    padding: 0.7em 1em;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #a09f9f;
    }
  }
  .navlink {
    color: #efe7d2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      color: #d9bf77;
    }
    .btn-dark {
      background-color: transparent;
      border: 2px solid #efe7d2;
      border-radius: 8px;
      padding: 1em 1.5em;
      color: #efe7d2;
      cursor: pointer;

      &:hover {
        color: #d9bf77;
      }
    }
  }
}

.cart-icon-wrapper {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #d9bf77;
  color: #2a2828;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 1em 0.5em;
    align-items: center;
  }

  .dropdown-content {
    position: absolute;
    top: 5.6em;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 370px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav-left {
    margin: 20px;
  }
  .nav-right {
    margin: 20px;
  }
  .dropbtn.btn-dark {
    font-size: large;
  }
}
