.blurp {
  background-image: url('../assets/receipt.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 10px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-section {
  background-color: #403b3bd6;
  color: white;
  padding: 30px;
  width: 400px;
}


.input-box {
  background-color: #292828;
  color: white;
  width: 100%; 
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  box-sizing: border-box; 
}

.input-error {
  border: 2px solid red;
  background-color: #ffe5e5;
  text-shadow: 2px 2px 4px solid black;
  color: black;
}

.error {
  color: red;
  text-shadow: 2px 2px 4px solid black;
  margin-top: -23px;
}

.error-inlogg {
  color: red;
  text-shadow: 2px 2px 4px solid black;
}

.success {
  color: greenyellow;
}


.input-success {
  border: 2px solid green;
  background-color: #e5ffe5;
  color: black;
}
  
.ghost-button {
  display: block;
  margin: 20px auto 0 auto; 
  width: 150px; 
  max-width: 200px; 
  color: #e6d6b2;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
}

.admin {
  color: lightgray;
  font-style: italic;
  font-size: 19px;
  margin-bottom: 4px;
}

@media (max-width: 480px) {
  .sign-section {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
  }

  .input-box {
    width: 90%;
    /* margin-left: -5px; */
  }

  .ghost-button {
    width: 150px;
  }

  .blurp {
    height: auto;
    padding: 20px;
    background-size: cover;
  }
}

@media (min-width: 481px) and (max-width: 900px) {
  .sign-section {
    width: 400px;
    margin: 30px auto;
  }

  .input-box {
    width: 100%;
  }

  .ghost-button {
    width: 150px;
  }

  .blurp {
    height: auto;
    padding: 30px;
    background-size: cover;
    height: 500px;
  }
}

@media (min-width: 1100px) {
  .sign-section {
    width: 400px;
    /* margin-left: 100px; */
  }

  .ghost-button {
    width: 150px;
    cursor: pointer;
    align-items: center;
  }

  .blurp {
    height: 500px;
    background-size: cover;
  }
}

/* Hover */
.ghost-button:hover {
  color: grey;
  border: 2px solid grey;
}

.admin {
  color: lightgray;
  font-style: italic;
  font-size: 19px;
  margin-bottom: 4px;
}