* {
	box-sizing: border-box;
	font-family: 'Forum', cursive;
}
body {
	margin: 0;
	padding: 0;
}
.receipt-layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.receipt-wrapper {
	flex: 1 0 60%;
	position: relative;
	overflow: hidden;
}
.receipt-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.receipt-container {
	padding-top: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	max-height: 90%;
	background-color: rgba(43, 43, 43, 0.85);
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0.2em;
	min-width: 300px;
}
.new-order {
	background-color: #181818;
	border: 2px solid #EFE7D2;
	border-radius: 8px;
	padding: 1em 1.5em;
	color: #EFE7D2;
	cursor: pointer;
	margin-bottom: 2rem;
	margin-top: 1rem;
	
	&:hover {
		color: #D9BF77;
		background-color: #474747;
		border: 2px solid #D9BF77;
	}
}
.receipt-divider {
	width: 80%;
	height: 2px;
	background-color: white;
	margin: 1rem 0;
}
.receipt-item {
	display: flex;
	justify-content: space-between;
	text-align: left;
	width: 100%;
	gap: 1rem;
	max-width: 300px;
	margin: 0 auto;
}
.receipt-total {
	margin-top: 1rem;
	font-size: 1.1rem;
	font-weight: bold;
}
