header{
	background-color: black;
	border: 1em solid gold;
}
h1{
	text-align: center;
	
}
.box{
	border: 1em solid gold;
	background-color: black;
	color: white;
	padding: 1em;
	margin: 1em;
}
#title{
	text-align: center;
}
.desPic{
	display: flex;
	flex-direction: row;
	padding: 1.5rem;
}
#processBtn{
	display: block;
	width: 100%;
	background-color: black;
	color: white;
	padding: 1em;
	border: solid 3px gold;
	border-radius: 8px;
}
.btns{
	display:flex;
	flex-direction: row;
}
#addBtn, #subBtn{
	background-color: black;
	color: white;
	padding: 1em;
	border: solid 3px gold;
	border-radius: 8px;

}
#counter{
	padding: 1.3rem;
	font-size: xx-large;
}
#priceOrder{
	display: flex;
	flex-direction: row;
	text-align: center;
	border: solid 1rem gold;
	color: white;
	background-color: black;
	margin-bottom: 1em;
}
#cancelOrdBtn{
	background-color: black;
	color: white;
	padding: 1em;
	border: solid 3px gold;
}
footer{	
	background-color: black;
	border: 1em solid gold;
}
